[submodule "backend"]
	path = backend
	url = https://github.com/Lihao2017-11-15/astro_download_web_backend.git
[submodule "QuarkPanTool"]
	path = QuarkPanTool
	url = https://github.com/Lihao2017-11-15/QuarkPanTool
